In [1]:
# defining Dictionary

In [6]:
# empty dictionary
dict1 = {}
type(dict1)

dict

In [14]:
# dictionary with integer keys
# my_dict = {1, 'apple', 2: 'ball'}
# print(my_dict)
# dictionary with mixed keys
my_dict = {'name': 'John', 1: [2, 4, 3]}
# print(my_dict)


#===================Check this one====================
# using dict()
my_dict = dict({1:'apple', 2:'ball'})
# print(my_dict)
# print(my_dict)
# # from sequence having each item as a pair
my_dict = dict([(1,'apple'), (2,'ball')])
print(my_dict)

{1: 'apple', 2: 'ball'}

In [ ]:
# different key may have same value

In [18]:
dict1 = {"first_name":"Rahul","last_name" : "Rahul","age" : 20}
dict1

{'first_name': 'Rahul', 'last_name': 'Rahul', 'age': 20}

In [46]:
# key must be unique, if key are same and value are different,latest key_value paired will be stored

In [22]:
dict1 = {"first_name":"Rahul","last_name" : "Kuma","age" : 20,"first_name":"Mohit","l1" : [10,20,30]}
dict1

{'first_name': 'Mohit', 'last_name': 'Kuma', 'age': 20, 'l1': [10, 20, 30]}

## Accessing Dictionary:
**The element are not position indexed but key indexed**<br>
**Dictionary cannot be sliced using []**<br>

In [23]:
student = {"name":"Rahul","class" :"10th","school":"Army public school","dob" : "02-11-2015"}

In [26]:
# print("Name:",student['name'])
# print("class:",student['class'])
print("age:",student['age'])

KeyError: 'age'

# Using loop":
### Iterate over key-value pair

In [30]:
student = {"name":"Rahul","class" :"10th","school":"Army public school","dob" : "02-11-2015"}
for key,val in student.items():
    print("Key:",key,"val:",val)

Key: name val: Rahul
Key: class val: 10th
Key: school val: Army public school
Key: dob val: 02-11-2015

In [31]:
student.items()

dict_items([('name', 'Rahul'), ('class', '10th'), ('school', 'Army public school'), ('dob', '02-11-2015')])

### Iterate over key

In [33]:
student = {"name":"Rahul","class" :"10th","school":"Army public school","dob" : "02-11-2015"}
for key in student.keys():
    print(key)

name
class
school
dob

In [36]:
student = {"name":"Rahul","class" :"10th","school":"Army public school","dob" : "02-11-2015"}
for val in student.values():
    print(val)

Rahul
10th
Army public school
02-11-2015

## Common Dictioinary Operation

In [47]:
student = {"name":"Rahul","class" :"10th","school":"Army public school","dob" : "02-11-2015"}

# add 
student['city'] = "Meerut"
# student['country'] = "India"
# modify value
student['city'] = "Mumbai"
# delete key value pair
# del student['city']
# delete dictionary object
# del student
print(student)

{'name': 'Rahul', 'class': '10th', 'school': 'Army public school', 'dob': '02-11-2015', 'city': 'Mumbai'}

In [108]:
student = {"name":"Rahul","class" :"10th","school":"Army public school","dob" : "02-11-2015"}

In [110]:
id(student)

3125536664640

# few facts
**two dictionary cann not be concatenated using "+"**<br>
**Two Dictionary cann not be merged using "d3 = d1 + d2" operator**<br>

In [50]:
l1 = [1,2,True]
l2 = ["name","color",50]
l3 = l1 + l2
print(l3)
t1 = (20,30)
t2 = ("name",60,50)
t3 = t1 + t2
print(t3)

[1, 2, True, 'name', 'color', 50]
(20, 30, 'name', 60, 50)

In [52]:
student = {"name":"Rahul","class" :"10th","school":"Army public school","dob" : "02-11-2015"}
department = {"dep" : "science","feculty" : "Ganga"}
# d1 = student + department
# student + department

# Built-in function on dictionary

## len()
**This method returns number of key-value pairs in the given dictionary**

In [54]:
days = {"mon":"monday","tue":"tuesday","wed":"wednesday","thu":"thursday","fri":"friday","sat":"saturday","bbb" :20}
print(len(days))

7

## Clear()
**It removes all items from the particular dictionary**

In [58]:
days = {"mon":"monday","tue":"tuesday","wed":"wednesday","thu":"thursday","fri":"friday","sat":"saturday"}

print(type(d1))
print("Before clear:",days)
days.clear()
print("After clear:",days)

<class 'set'>
Before clear: {'mon': 'monday', 'tue': 'tuesday', 'wed': 'wednesday', 'thu': 'thursday', 'fri': 'friday', 'sat': 'saturday'}
After clear: {}

## get()
**It return the value from the given key. If key is not avialable the default value is return**

In [69]:
days = {"mon":"monday","tue":"tuesday","wed":"wednesday","thu":"thursday","fri":"friday","sat":"saturday"}
# print(days['mon2'])
print(days.get('mon2',"Sunday"))
# print(days.get('wed3',"Sunday"))

Sunday
{'mon': 'monday', 'tue': 'tuesday', 'wed': 'wednesday', 'thu': 'thursday', 'fri': 'friday', 'sat': 'saturday'}

## items()
**it return the content of dictionary as a list of tuple having key-value pair**

In [67]:
days = {"mon":"monday","tue":"tuesday","wed":"wednesday","thu":"thursday","fri":"friday","sat":"saturday"}
l1 = days.items()
l1

dict_items([('mon', 'monday'), ('tue', 'tuesday'), ('wed', 'wednesday'), ('thu', 'thursday'), ('fri', 'friday'), ('sat', 'saturday')])

In [68]:
for key, val in days.items():
    print(key,val)

mon monday
tue tuesday
wed wednesday
thu thursday
fri friday
sat saturday

## Keys
**It return list of keys in dictionary**

In [72]:
days = {"mon":"monday","tue":"tuesday","wed":"wednesday","thu":"thursday","fri":"friday","sat":"saturday"}
# days.keys()
print(days.keys())

dict_keys(['mon', 'tue', 'wed', 'thu', 'fri', 'sat'])

## values
**It return values from key-value pair of dictionary**

In [138]:
days = {"mon":"monday","tue":"tuesday","wed":"wednesday","thu":"thursday","fri":"friday","sat":"saturday"}
days.values()

dict_values(['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday'])

## update()
**update dictionary**

In [71]:
student = {"name":"Rahul","class" :"10th","school":"Army public school","dob" : "02-11-2015"}
department = {"dep" : "science","feculty" : "Ganga"}
print(student)
print(department)

{'name': 'Rahul', 'class': '10th', 'school': 'Army public school', 'dob': '02-11-2015'}
{'dep': 'science', 'feculty': 'Ganga'}

In [73]:
student.update(department)
print(student)

{'name': 'Rahul', 'class': '10th', 'school': 'Army public school', 'dob': '02-11-2015', 'dep': 'science', 'feculty': 'Ganga'}

## pop()
**remove key and return its value**

In [74]:
student = {"name":"Rahul","class" :"10th","school":"Army public school","dob" : "02-11-2015"}
print(student.pop('class'))
print(student)

10th
{'name': 'Rahul', 'school': 'Army public school', 'dob': '02-11-2015'}

## Nested Dictionary

In [76]:
data = {"delimiter" : "|","schema" :{"col":"first_name","type":"string","val" : [10,20,30]}}

In [77]:
data

{'delimiter': '|',
 'schema': {'col': 'first_name', 'type': 'string', 'val': [10, 20, 30]}}

In [78]:
schema = data['schema']
schema

{'col': 'first_name', 'type': 'string', 'val': [10, 20, 30]}

In [79]:
schema['col']

'first_name'

20

In [204]:
student = {"name":"Rahul","class" :"10th","school":"Army public school","dob" : "02-11-2015"}
department = {"dep" : "science","feculty" : "Ganga"}
list({**student,**department})

['name', 'class', 'school', 'dob', 'dep', 'feculty']

In [82]:
student = {"name":"Rahul","class" :"10th","school":"Army public school","dob" : "02-11-2015"}
department = {"dep" : "science","feculty" : "Ganga"}
list({**student,**department})

['name', 'class', 'school', 'dob', 'dep', 'feculty']