## Python Lists

In [1]:
a = ['foo', 'bar', 'baz', 'qux']

## The important characteristics of Python lists are as follows:
**Lists are ordered**<br>
A list is not merely a collection of objects. It is an ordered collection of objects. The order in which you specify the <br>elements when you define a list is an innate characteristic of that list and is maintained for that list’s lifetime<br>
**Lists can contain any arbitrary objects.**<br>
**List elements can be accessed by index.**<br>
**Lists are mutable.**<br>
**Lists are dynamic.**<br>

In [3]:
a = ['foo', 'bar', 'baz', 'qux']

In [5]:
b = ['baz', 'qux', 'bar', 'foo']
a == b

False

# the elements can be of varying types

In [13]:
a = [21.42, 'foobar', 3, 4, 'bark', False, 3.14159]
for item in a:
    print(type(item))

<class 'float'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>

### Lists can even contain complex objects, like functions, classes, and modules,

In [18]:
import math
def show():
    print("show me")

a = [int, len, show, math,str]
a

[int,
 <function len(obj, /)>,
 <function __main__.show()>,
 <module 'math' (built-in)>,
 str]

In [19]:
# List objects needn’t be unique. A given object can appear in a list multiple times:

In [20]:
a = ['bark', 'meow', 'woof', 'bark', 'cheep', 'bark']

### List Elements Can Be Accessed by Index

In [21]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [23]:
a[2:5]

['baz', 'qux', 'quux']

In [24]:
a[-5:-2]

['bar', 'baz', 'qux']

In [25]:
a[-5:-2] == a[1:4]

True

In [27]:
print(a[:4], a[0:4])
print(a[2:], a[2:len(a)])

['foo', 'bar', 'baz', 'qux'] ['foo', 'bar', 'baz', 'qux']
['baz', 'qux', 'quux', 'corge'] ['baz', 'qux', 'quux', 'corge']

In [28]:
a[:4] + a[4:] == a

True

In [29]:
a[0:6:2]

['foo', 'baz', 'quux']

In [88]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
a[1:60:2] # 60 it will handle internally

['bar', 'qux', 'corge']

In [87]:
a[7:0:-2] #################

[5, 'corge', 'qux', 'bar']

In [50]:
a[-2::-2]

['quux', 'baz', 'foo']

In [67]:
s == b

False

In [ ]:
#  if a is a list, a[:] returns a new object that is a copy of a:

In [94]:
b = a[:]
print(id(a))
print(id(b))

2400639845440
2400640219008

In [95]:
## refrence
c = a
print(id(a))
print(id(c))

2400639845440
2400639845440

In [91]:
id(b)

2400640120832

## The in and not in operators:

In [96]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [97]:
print('qux' in a)
print('thud' not in a)

True
True

## The concatenation (+) and replication (*) operators:

In [99]:
a + ['grault', 'garply']

['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply']

In [102]:
['a','b'] * 2

['a', 'b', 'a', 'b']

In [103]:
## he len(), min(), and max() functions:

In [104]:
print(len(a))
print(min(a))
print(max(a))

6
bar
qux

In [106]:
x = ['a', ['bb', ['ccc', 'ddd'], 'ee', 'ff'], 'g', ['hh', 'ii'], 'j']

In [111]:
x[1]

['bb', ['ccc', 'ddd'], 'ee', 'ff']

In [112]:
x = ['a', ['bb', ['ccc', 'ddd',['mm',['ppp','ooo']]], 'ee', 'ff'], 'g', ['hh', 'ii'], 'j']

In [113]:
x[1]

['bb', ['ccc', 'ddd', ['mm', ['ppp', 'ooo']]], 'ee', 'ff']

In [124]:
x[1][1][2][1:][0][1]

'ooo'

## Modifying a Single List Value

In [151]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [152]:
a[0:2] = ["Red","Black"]

In [153]:
a

['Red', 'Black', 'baz', 'qux', 'quux', 'corge']

In [154]:
# Modifying Multiple List Values
# a[m:n] = <iterable>

In [155]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
a[1:4]

['bar', 'baz', 'qux']

In [156]:
a[1:4] = [1.1, 2.2, 3.3, 4.4, 5.5]

In [157]:
a

['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

In [158]:
a[1:6] = ['Bark!']

### The number of elements inserted need not be equal to the number replaced. Python just grows or shrinks the list as needed.

In [166]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
a

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [167]:
a[0:5] = ["Broght"]
a

['Broght', 'corge']

In [172]:
a = [1, 2, 3]
a[1] = [2.1, 2.2, 2.3]
a

[1, [2.1, 2.2, 2.3], 3]

In [177]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [185]:
a += "khan"

In [183]:
a

['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'k', 'h', 'a', 'n']

## List methods are different. Because lists are mutable, the list methods shown here modify the target list in place.

In [187]:
s = 'foobar'
t = s.upper()

In [189]:
t is s

False

In [190]:
a = ['a', 'b']
a.append(123)
a

['a', 'b', 123]

In [191]:
a + [1, 2, 3]
a

['a', 'b', 123]

In [199]:
##a.extend(<iterable>)
a = ['a', 'b']
a.extend('d')

In [200]:
a

['a', 'b', 'd']

In [201]:
a.extend([1,2,3])

In [202]:
a

['a', 'b', 'd', 1, 2, 3]

In [203]:
a.append([1,2,3])

In [204]:
a

['a', 'b', 'd', 1, 2, 3, [1, 2, 3]]

In [224]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [225]:
a.insert(-22, 3.14159) # shring and grow
a

[3.14159, 'foo', 'bar', 'baz', 'qux', 'quux', 'corge']

## a.remove(<obj>) removes object <obj> from list a. If <obj> isn’t in a, an exception is raised:

In [226]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [228]:
a.remove('baz')

ValueError: list.remove(x): x not in list

## Defining and Using Tuples

In [230]:
#Tuples are identical to lists in all respects, except for the following properties:
#Tuples are defined by enclosing the elements in parentheses (()) instead of square brackets ([]).
#.Tuples are immutable.

In [231]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [232]:
 t[::-1]

('corge', 'quux', 'qux', 'baz', 'bar', 'foo')


**Doh! Since parentheses are also used to define operator precedence in expressions, Python evaluates the expression (2) as simply the integer 2 and creates an int object. To tell Python that you really want to define a singleton tuple, include a trailing comma (,) just before the closing parenthesis:**

In [238]:
t = (2)
type(t)

int

int

In [239]:
t = (2,)
print(type(t))
print(t)

<class 'tuple'>
(2,)

## Tuple Assignment, Packing, and Unpacking

In [240]:
months = ("jan","feb","apr")
print(months)

('jan', 'feb', 'apr')

In [249]:
## When unpacking, the number of variables on the left must match the number of values in the tuple:

In [244]:
jan,feb,apr = months
print(jan,feb,apr)

jan feb apr

In [245]:
jan,feb,apr,ext = months

ValueError: not enough values to unpack (expected 4, got 3)

In [250]:
jan,feb = months

ValueError: too many values to unpack (expected 2)

In [248]:
jan,feb,f = months

In [254]:
t1,t2,t3 = 10,20,3
type(t1)

int