In [4]:
# Empty List
l1 = []
l2 = list()
print(l1)
print(l2)

[]
[]

In [5]:
# # List of integers
l2 = [1,2,3,4,5]
print(l2)

[1, 2, 3, 4, 5]

In [8]:
# List of different data types
l3 = ["Apple",20,55.55,"Delhi",True]
l3

['Apple', 20, 55.55, 'Delhi', True]

# Creating List from an existing List

In [10]:
l1 = [1,2,3,4,6,6,7,8,9,10]
l2 = l1[:]   # Copy list
l2

[1, 2, 3, 4, 6, 6, 7, 8, 9, 10]

In [12]:
l3 = l1[1:4]
l3

[2, 3, 4]

In [13]:
# l3 = l1
# l3

# Accessing List element

In [17]:
str1 = "ABCDEFGH"
l1 = list(str1)
print("l1:",l1)
print("l1[0]:",l1[0])
print("l1[2]:",l1[2])
print("l1[-1]:",l1[-1])
print("l1[-3]:",l1[-3])

l1: ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
l1[0]: A
l1[2]: C
l1[-1]: H
l1[-3]: F

In [19]:
l1[15] # error

IndexError: list index out of range

# Traversing List
1. Using <b>IN</b> operator in side for loop
2. using range() function

In [20]:
fruit = ["Apple","Mango",'Banana',"Pineapple","Date"]
fruit

['Apple', 'Mango', 'Banana', 'Pineapple', 'Date']

In [24]:
# # Using in Operator
for name in fruit:
    print(name.upper())
    print(type(name))

APPLE
<class 'str'>
MANGO
<class 'str'>
BANANA
<class 'str'>
PINEAPPLE
<class 'str'>
DATE
<class 'str'>

In [28]:
# # Using range() function
fruit = ["Apple","Mango",'Banana',"Pineapple","Date"]
for ind in range(len(fruit)):
#     print(ind)
#     print(fruit[ind])
    print(f"Item at;{ind} is ;{fruit[ind]}")

Item at;0 is ;Apple
Item at;1 is ;Mango
Item at;2 is ;Banana
Item at;3 is ;Pineapple
Item at;4 is ;Date

# Testing membership
**in operator**<br>
**not in**

In [33]:
m1 = ['apple','mango','date',"pineapple"]
# 'mango' in m1
'mango22' not in m1

True

# Indexing

In [39]:
list1 = list("computer")
print(list1)
list1[1:4]
list1[1:6:2]
list1[3:]
list1[:5]
list1[-1]
list1[-3:]
list1[:-2]

['c', 'o', 'm', 'p', 'u', 't', 'e', 'r']

['c', 'o', 'm', 'p', 'u', 't']

## Built-IN Function
**Append** : List.append() <br>
**Insert** : List.insert(index, ele)<br>
**Extend** : List.extend(list2) <br>
**Index**  : list.index(ele) <br>
**Remove** : list.remove(ele) <br>
**Sort** : List.sort() <br>
**Reverse** : list.reverse() <br>

## Append
** Append function is used to add a single item to the end of the list**

In [44]:
m1 = [10,5,6,60,20]
m1

[10, 5, 6, 60, 20]

In [47]:
m1.append(99)
m1

[10, 5, 6, 60, 20, 99, 99, 99]

In [51]:
m1 = [20,30,40]

[20, 30, 40]

## Insert
** The insert function can be used to insert an element at specified index**

In [54]:
m1 = [10,5,6,60,20]
m1.insert(2,"New Item")
m1.insert(0,"New2")
m1.insert(20,"at 2oth pos")

## Extend
** The extend method adds one list to the end of the another list**

In [55]:
m1 = list("abcd")
m1

['a', 'b', 'c', 'd']

In [56]:
m2 = [1,2,3,4,5]
m2

[1, 2, 3, 4, 5]

In [57]:
m1.extend(m2)
m1

['a', 'b', 'c', 'd', 1, 2, 3, 4, 5]

## Reverse
**The reverse function in python reverse the order of the list**

In [60]:
m3 = list("abcdefabcd")
m3

['a', 'b', 'c', 'd', 'e', 'f', 'a', 'b', 'c', 'd']

In [59]:
m3.reverse()
print(m3)

['f', 'e', 'd', 'c', 'b', 'a']

## index

**index() function returns the index of first matched item from the list**

In [64]:
list1 = ["apple","mango","banana","date","orange","mango","banana"]
list1.index("banana")

2

In [70]:
list1 = [10,2,60,5,9,5,3]
list1.sort(reverse = False)
list1

[2, 3, 5, 5, 9, 10, 60]

## Remove

In [73]:
list1 = [10,2,60,5,9,5,3]
list1.remove(600) # error if not ele
list1

ValueError: list.remove(x): x not in list

## Clear
**Clear method removes all element from the list**

In [74]:
list1 = ["apple","mango","banana2","date","orange","mango","banana"]
list1

['apple', 'mango', 'banana2', 'date', 'orange', 'mango', 'banana']

In [76]:
list1.clear()
type(list1)

list

## a.remove(<obj>)
**removes object <obj> from list list. If <obj> isnâ€™t in a, an exception is raised:**

In [27]:
# a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [28]:
# a.remove('baz')

## Count()
** count() method counts how many times an element has occurred in a list and return it**

In [79]:
# # count
list1 = ["apple","mango","banana2","date","orange","mango","banana"]
list1.count("apple2")

0

## POP
** It removes the element from the specified index and also return the element which was removed**

In [80]:
l1 = [20,30,40,50,60,70,80,90]
l1

[20, 30, 40, 50, 60, 70, 80, 90]

In [82]:
l1.pop(5)

80

In [83]:
l1

[20, 30, 50, 60, 70, 90]

In [32]:
# l1.pop(1)

# del statement
** dell remove the specified elemnt from the list but does not return the deleted element**

In [86]:
l1 = [20,30,40,50,60,70,80,90]
del l1[2:5]
l1

[20, 30, 70, 80, 90]

In [92]:
l1 = [20,30,["apple","mango",[10,20]],60]
l1

[20, 30, ['apple', 'mango', [10, 20]], 60]

In [96]:
l1[2][2][0]

10

In [132]:
l1 = [,"Apple"]
# for i in L1:
#     print(i)

l2 = []
# L1 = ['ganga']
# # x = L1.pop(0)
# print(x)
for i in l1:
    print(i)

SyntaxError: invalid syntax (534167729.py, line 1)

In [99]:
l2

['APPLE', 'BANANA']

In [119]:
l1 = ["Apple","banana","ganga"]
l1.pop(0)

'Apple'

In [124]:
l1

[]

In [125]:
l1.pop(0)

IndexError: pop from empty list