In [5]:
# Keywords
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [7]:
def f1():
    pass

In [9]:
# import = "hello"

In [10]:
# case sensitive

Def = 10
Def

10

In [5]:
# Rules for Writing Identifier

In [11]:
# #Vaild Identifier
x = 10
_name = 15
name10 = "name"
name_first = "first name"
Name = "Caps name"

In [15]:
# 10x = 10
# name@first = 152
# -name = 10
# class = 10

SyntaxError: invalid syntax (534482566.py, line 4)

In [8]:
# Declaring variable

In [17]:
name = "first name"
price = 10
print(name)
print(price)

print(type(name))
print(type(price))

first name
10
<class 'str'>
<class 'int'>

In [18]:
#assigning multiple values to multiple variables
a,b,c = 10,99.99,"hello"
print(a,b,c)

10 99.99 hello

In [11]:
# python statement

In [19]:
a = 2+3*9+100
print(a)
print(" Helloe there")

129
 Helloe there

In [13]:
# Multi-line statatement

In [20]:
cal = 2+3+7 \
        +3+5 \
        +2
print(cal)

22

In [21]:
msg = "Hello I am learning" \
        "python" \
        "and doing practice"
print(msg)

Hello I am learningpythonand doing practice

In [24]:
data = [10,20,30,
       1,2,3
        ,4,5
       ]
print(data)
print(type(data))

[10, 20, 30, 1, 2, 3, 4, 5]
<class 'list'>

In [17]:
# Literals

In [27]:
a = 0b1010
print(a)
b = 99
print(b)
c = 0O310
print(c)

1010
99
200

In [19]:
8**2

64

In [26]:
a1 = True # true
a2 = False
print(a1)
print(a2)

True
False

In [21]:
is_conn = None
print(is_conn)

None

In [22]:
# Console Input

In [28]:
name = input("Enter your name:")
print(name)

Enter your name:Rahul
Rahul

In [29]:
age = input("Enter your age:")
print(type(age))
age = age + 10

Enter your age:25
<class 'str'>

TypeError: can only concatenate str (not "int") to str

In [34]:
name,age,city = input("Enter name,age,city:").split("-")
print(name,age,city)

Enter name,age,city:Rahul 25 Meerut
Rahul 25 Meerut

In [45]:
name = "Rahul"
age = 25
print(name)
print("My name is : {0}.Age is:{1}".format(age,name))

print("My name is : {name1}.Age is:{age1}".format(name1 = "Orange",age1 = age))
print("=============")

print(f"My name is {name}, Age is: {age}")

Rahul
My name is : 25.Age is:Rahul
My name is : Orange.Age is:25
=============
My name is Rahul, Age is: 25

In [25]:
create:
assign binary,octal and float literal to variable x,y,z and display them.
create string  and boolean literal.
create two variable x,y with value 100,50
Perform Operaion:
x+y,x*y,x/y
create variable with below names: and check weather they are connect or not.
price = 100
25price =100
_25price = 100
price25 = 100
price-25 =100
price@50 = 100