## Tuple

## Tuple Createion
**A tuple is enclosed in parentheses/round brackets() for creation and each item is separated by a comma**<br>
**Round brackets indicate the start and end of the tuple**<br>

In [1]:
month_names = ('Jan','feb','mar','arp','may','june','july','aug','sep','oct','nov','dec')
# month_names

In [2]:
tpl = ('name','city',230,522,25.66)  # Tuple with mixed Data types
tpl

('name', 'city', 230, 522, 25.66)

In [3]:
# Single tuple
tpl1 = ('a')
print(type(tpl1))
tpl1 = ('a',) # include final comma else it will be treadted as str/int
print(type(tpl1))

<class 'str'>
<class 'tuple'>

### Createing tuple using built_in function

In [4]:
t = tuple() # empty tuple
type(t)

tuple

In [5]:
month_names1 = tuple(('Jan','feb','mar','arp','may','june','july','aug','sep','oct','nov','dec'))
print(month_names1)
print(type(month_names1))

('Jan', 'feb', 'mar', 'arp', 'may', 'june', 'july', 'aug', 'sep', 'oct', 'nov', 'dec')
<class 'tuple'>

In [6]:
t1 = tuple(('name','kahan',120))
t1

('name', 'kahan', 120)

In [7]:
# #
# color_name = tuple()
# n,i = 3,1
# while i<=n:
#     a = input("Enter color name:")
#     color_name += (a,) # singe typle
#     i = i + 1
# print(f"Provided Color:{color_name}")

# Nesting Tuples

In [17]:
month = ('Jan','feb','mar','arp','may','june','july','aug','sep','oct','nov','dec')
month_digit = tuple((1,2,3,4,5,6,7,8,9,10,11,12))
nest_tuple = tuple((month,month_digit))
nest_tuple = (month,month_digit)
nest_tuple

(('Jan',
  'feb',
  'mar',
  'arp',
  'may',
  'june',
  'july',
  'aug',
  'sep',
  'oct',
  'nov',
  'dec'),
 (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12))

## Accessing and Traversing Tuple

In [26]:
month_names1 = tuple(('Jan','feb','mar','arp','may','june','july','aug','sep','oct','nov','dec'))
print("month_names1[0]:",month_names1[0])
print("month_names1[3]",month_names1[3])
print("month_names1[-1]:",month_names1[-1])
print("month_names1[2:5]:",month_names1[2:5])

month_names1[0]: Jan
month_names1[3] arp
month_names1[-1]: dec
month_names1[2:5]: ('mar', 'arp', 'may')

In [30]:
for tpl in month_names1:
    print(tpl,end=',')

Jan,feb,mar,arp,may,june,july,aug,sep,oct,nov,dec,

## Common Tuple Operation

## tuple Slicing

In [46]:
month_names1 = tuple(('Jan','feb','mar','arp','may','june','july','aug','sep','oct','nov','dec'))
print("month_names1[2:5]:",month_names1[2:5])
print("month_names1[:-1]:",month_names1[:-1])
print("month_names1[2:-5]:",month_names1[2:-5])
print("month_names1[2:10:3]:",month_names1[2:10:3])
print("month_names1[1:11:3]:",month_names1[1:11:3]) # take every 3rd ele & skip 2 ele in between
print("month_names1[2:5]:",month_names1[2:50000:100])

month_names1[2:5]: ('mar', 'arp', 'may')
month_names1[:-1]: ('Jan', 'feb', 'mar', 'arp', 'may', 'june', 'july', 'aug', 'sep', 'oct', 'nov')
month_names1[2:-5]: ('mar', 'arp', 'may', 'june', 'july')
month_names1[2:10:3]: ('mar', 'june', 'sep')
month_names1[1:11:3]: ('feb', 'may', 'aug', 'nov')
month_names1[2:5]: ('mar',)

# Tuple Concatenation

In [53]:
# x = (1,2,3,4)
# y = (10,20,30,40,50,60)
# z = x + y
# print(z)
# z1 = x[1:4] + y[:-3]
# print(z1)
# z3 = x + x[0]
# print(z3)

In [54]:
# Tuple Repeatation

In [61]:
t1 = tuple(('Jan','feb','mar','arp'))
t2 = t1 *3
print(t2)
print(t1[:2] * 2)

('Jan', 'feb', 'mar', 'arp', 'Jan', 'feb', 'mar', 'arp', 'Jan', 'feb', 'mar', 'arp')
('Jan', 'feb', 'Jan', 'feb')

In [62]:
t1 = tuple(('Jan','feb','mar','arp'))

# Membership

In [68]:
month_names = ('Jan','feb','mar','arp','may','june','july','aug','sep','oct','nov','dec')
print('Jan' in month_names)
print('jan' in month_names)
print('jan' not in month_names)

True
False
True

### len()
Return the length of tuple

In [69]:
month_names = ('Jan','feb','mar','arp','may','june','july','aug','sep','oct','nov','dec')
print(len(month_names))

12

## count()
count the occurence of the an item

In [72]:
month_names = ('Jan','feb','mar','arp','may','Jan','Jan')
month_names.count('Jan')

3

### any()
Return True if a tuple is having atleast one item

In [82]:
month_names = ('Jan','feb','mar','arp','may','Jan','Jan')
any(month_names)
t1 = tuple() # ()
t1 = ()

any(t1)

False

# min, max, sum
To use min(),max() function, all value in tuple must be same type

In [89]:
# t1 = (10,5,6,199,'2')
t1 = (10,5,6,199)
print(min(t1))
print(max(t1))
print(sum(t1))

5
199
220

In [87]:
t1 = ('jan','feb','mar','apr')
print(min(t1))
print(max(t1))
# print(sum(t1))

apr
mar