## python indentation

In [3]:
# x = 10
# print(x)

In [7]:
# x = 10

# if x > 2:
#     print("X is greater")
#     if x > 1:
#         print("x is  greater than 1")
# else:
#     print("x is less")

X is greater
x is  greater than 1

In [8]:
# This is comment
print("hi")

hi

In [48]:
# Multi-line comment
"""This is multi-lne 
comment"""

x = 10
x

10

In [70]:
# data types
bn = 0b101
print(f"{bn}:{type(bn)}")
oct = 0O321
hx = 0X3AC
print(f"{hx}:{type(hx)}")
price = 105.66
print(f"price: {price}:, type:{type(price)}")
x = 2 + 3j
y = 4-2j
z = x+y
print(f"cmp: {cmp}:, type:{type(cmp)}")
print("z:",z)
print(f"Real:{z.real},imaginary:{z.imag}")

5:<class 'int'>
940:<class 'int'>
price: 105.66:, type:<class 'float'>
cmp: (2+3j):, type:<class 'complex'>
z: (6+1j)
Real:6.0,imaginary:1.0

In [97]:
m1 = None
print("M1:",m1)
print(type(m1))
flag = True
print(type(flag))

M1: None
<class 'NoneType'>
<class 'bool'>

In [75]:
name = "python"
l1 = [1,2,3,4]
tpl = (10,20,30)
print(f"name: {name}:, type:{type(name)}")
print(f"list: {l1}:, type:{type(l1)}")
print(f"tuple: {tpl}:, type:{type(tpl)}")

name: python:, type:<class 'str'>
list: [1, 2, 3, 4]:, type:<class 'list'>
tuple: (10, 20, 30):, type:<class 'tuple'>

In [78]:
# Sets
st = {2,102,30,80}
print(f"st: {st}:, type:{type(st)}")

st: {80, 2, 102, 30}:, type:<class 'set'>

In [79]:
# Dictinory
dict1 = {"name" :"Rahul","city" : "Delhi","mobile" : 20303010}
print(f"dict1: {dict1}:, type:{type(dict1)}")

dict1: {'name': 'Rahul', 'city': 'Delhi', 'mobile': 20303010}:, type:<class 'dict'>

In [95]:
# Varibale Assigment
x = 20.66
print(x)
a = 10;b = 20;c = 30
print(a,b,c)
x,y,z = 100,200,300
print(x,y,z)

20.66
10 20 30
100 200 300

# Arithmetic  Operator

In [124]:
print("20+30=",20+30)
print("20-30=",20-30)
print("20*30=",20*30)
print("30/20=",30/20)
print("30%20=",30%20)
print("2**5=",2**5)
# print("30//20=",30//20)
x = 12+(3**4-6)/2
print(x)

20+30= 50
20-30= -10
20*30= 600
30/20= 1.5
30%20= 10
2**5= 32
30//20= 1
49.5

## Comparison/Relational Operators

In [133]:
print("7>3:",7>3)
print("2<=5:",2<=5)
print("10!12:",10!=12)
print("10!10:",10!=10)
print("10=9:",10==9)

7>3: True
2<=5: True
10!12: True
10!10: False
10=9: False

In [136]:
# Logical Operator

In [151]:
x= 10
y = 20
print(x>5 and y > 15)
print(x>10 and y > 15)
print(x>10 or y > 15)

True
False
True

# Assigment Operator

In [161]:
x = 10
# x = x + 2
# x +=2
# x = x - 4
# x -=2
x **= 3
print(x)

1000

In [171]:
# x = 50
# y = 50
# z = 20
# m1 = 20
# print("x:",id(x))
# print("y:",id(y))
# print("y:",id(z))
# print("m1:",id(m1))
# x is not z

## Membership operators in and not in

In [178]:
name = "python"
print("hon" in name)
print("hin" not in name)

True
True

# Conversion

In [181]:
age = input("enter age:")
print(type(age))
age = int(age)
print(type(age))

enter age:5
<class 'str'>
<class 'int'>

In [184]:
x = "20"
y = 30
int(x,)+ y

50

In [190]:
x = "10"
p = 25.66
str(p)

'25.66'

In [196]:
bool(0)

False