In [1]:
# defining Dictionary

In [17]:
# empty dictionary
dict1 = {}
dict1

{}

In [36]:
# dictionary with integer keys
# my_dict = {1: 'apple', 2: 'ball'}
# print(my_dict)
# # dictionary with mixed keys
my_dict = {'name': 'John', 1: [2, 4, 3]}
print(my_dict)


#===================Check this one====================
# using dict()
# my_dict = dict({1:'apple', 2:'ball'})
# print(my_dict)

# # from sequence having each item as a pair
# my_dict = dict([(1,'apple'), (2,'ball')])
# print(my_dict)

{'name': 'John', 1: [2, 4, 3]}

In [ ]:
# different key may have same value

In [45]:
dict1 = {"first_name":"Rahul","last_name" : "rahul","age" : 20}
dict1

{'first_name': 'Rahul', 'last_name': 'rahul', 'age': 20}

In [46]:
# key must be unique, if key are same and value are different,latest key_value paired will be stored

In [54]:
dict1 = {"first_name":"Rahul","last_name" : "rahul","age" : 20,"first_name":"Mohit"}
dict1

{'first_name': 'Mohit', 'last_name': 'rahul', 'age': 20}

## Accessing Dictionary:
**The element are not position indexed but key indexed**<br>
**Dictionary cannot be sliced using []**<br>

In [57]:
student = {"name":"Rahul","class" :"10th","school":"Army public school","dob" : "02-11-2015"}

In [63]:
print("Name:",student['name'])
print("class:",student['class'])
# print("age:",student['age'])

Name: Rahul
class: 10th

# Using loop":
### Iterate over key-value pair

In [70]:

for key,val in student.items():
    print("Key:",key,"val:",val)

Key: name val: Rahul
Key: class val: 10th
Key: school val: Army public school
Key: dob val: 02-11-2015

### Iterate over key-value pair

In [76]:

for key in student.keys():
    print(key)

name
class
school
dob

## Common Dictioinary Operation

In [107]:
student = {"name":"Rahul","class" :"10th","school":"Army public school","dob" : "02-11-2015"}

# add 
student['city'] = "Meerut"
# modify value
# student['city'] = "Mumbai"
# delete key value pair
#del student['city']
# delete dictionary object
# del student
student

{'name': 'Rahul',
 'class': '10th',
 'school': 'Army public school',
 'dob': '02-11-2015',
 'city': 'Meerut'}

In [108]:
student = {"name":"Rahul","class" :"10th","school":"Army public school","dob" : "02-11-2015"}

In [110]:
id(student)

3125536664640

# few facts
**two dictionary cann not br concatenated using "+"**<br>
**Two Dictionary cann not be merged using "d3 = d1 + d2" operator**<br>

In [119]:
l1 = [1,2,True]
l2 = ["name","color",50]
l3 = l1 + l2
print(l3)
t1 = (20,30)
t2 = ("name",60,50)
t3 = t1 + t2
print((t3))

[1, 2, True, 'name', 'color', 50]
(20, 30, 'name', 60, 50)

In [127]:
student = {"name":"Rahul","class" :"10th","school":"Army public school","dob" : "02-11-2015"}
department = {"dep" : "science","feculty" : "Ganga"}
# d1 = student + department
# student + department

# Built-in function on dictionary

## len()
**This method returns number of key-value pairs in the given dictionarr**

In [128]:
days = {"mon":"monday","tue":"tuesday","wed":"wednesday","thu":"thursday","fri":"friday","sat":"saturday"}
print(len(days))

6

## Clear()
**It removes all items from the particular dictionary**

In [129]:
days = {"mon":"monday","tue":"tuesday","wed":"wednesday","thu":"thursday","fri":"friday","sat":"saturday"}
days.clear()

In [130]:
days

{}

## get()
**It return the value from the given key. If key is not avialable the default value is return**

In [134]:
days = {"mon":"monday","tue":"tuesday","wed":"wednesday","thu":"thursday","fri":"friday","sat":"saturday"}
# print(days.get('wed3'))
print(days.get('wed3',"Sunday"))

Sunday

## items()
**it return the content of dictionary as a list of tuple having key-value pair**

In [135]:
days = {"mon":"monday","tue":"tuesday","wed":"wednesday","thu":"thursday","fri":"friday","sat":"saturday"}
l1 = days.items()
l1

dict_items([('mon', 'monday'), ('tue', 'tuesday'), ('wed', 'wednesday'), ('thu', 'thursday'), ('fri', 'friday'), ('sat', 'saturday')])

In [136]:
for key, val in days.items():
    print(key,val)

mon monday
tue tuesday
wed wednesday
thu thursday
fri friday
sat saturday

## Keys
**It return list of keys in dictionary**

In [137]:
days = {"mon":"monday","tue":"tuesday","wed":"wednesday","thu":"thursday","fri":"friday","sat":"saturday"}
days.keys()

dict_keys(['mon', 'tue', 'wed', 'thu', 'fri', 'sat'])

## values
**It return values from key-value pair of dictionary**

In [138]:
days = {"mon":"monday","tue":"tuesday","wed":"wednesday","thu":"thursday","fri":"friday","sat":"saturday"}
days.values()

dict_values(['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday'])

## update()
**update dictionary**

In [166]:
student = {"name":"Rahul","class" :"10th","school":"Army public school","dob" : "02-11-2015"}
department = {"dep" : "science","feculty" : "Ganga"}

In [170]:
student.update(department)
print(student)

{'name': 'Rahul', 'class': '10th', 'school': 'Army public school', 'dob': '02-11-2015', 'dep': 'science', 'feculty': 'Ganga'}

## pop()
**remove key and return its value**

In [177]:
# student = {"name":"Rahul","class" :"10th","school":"Army public school","dob" : "02-11-2015"}
# print(student.pop('class'))
# print(student)

## Nested Dictionary

In [191]:
data = {"delimiter" : "|","schema" :{"col":"first_name","type":"string","val" : [10,20,30]}}

In [192]:
data

{'delimiter': '|',
 'schema': {'col': 'first_name', 'type': 'string', 'val': [10, 20, 30]}}

In [195]:
schema = data['schema']
schema

{'col': 'first_name', 'type': 'string', 'val': [10, 20, 30]}

In [197]:
schema['col']

'first_name'

In [204]:
student = {"name":"Rahul","class" :"10th","school":"Army public school","dob" : "02-11-2015"}
department = {"dep" : "science","feculty" : "Ganga"}
list({**student,**department})

['name', 'class', 'school', 'dob', 'dep', 'feculty']