In [1]:
# Creating Set

In [13]:
s1 = set() # empty set, only way
print(s1)
print(type(s1))
b = {20}
print(b)
c = {"Rahul",20,100.55,(15,2)}
st1 = {10,20,10,10,10}
print(st1)
# d = {"Rahul",20,100.55,[10,30]} #

set()
<class 'set'>
{20}
{10, 20}

In [43]:
st1 = set(['mango', 'orange', 'Mango', 'orange', 'pineapple'])
print(st1)
x = set(('mango', 'orange', 'Mango', 'orange', 'pineapple'))
print(x)

{'pineapple', 'mango', 'Mango', 'orange'}
{'pineapple', 'mango', 'Mango', 'orange'}

## Accessing Element
**Set is an unorder collection, therefore, order of insertion is not same as te order of access**<br>
**Being an unorder of collection, items in a set cannot be accessed using indices**
**Set can not be sliced**

In [16]:
s = {10,20,15,20,30}
s

{10, 15, 20, 30}

In [18]:
for ele in s:
    print(ele)

10
20
30
15

In [19]:
# Basic Operations

In [31]:
s = {10,20,30}
print(id(s))
print(s)
s.add(100)
print(id(s))
print(s)

1719564716288
{10, 20, 30}
1719564716288
{100, 10, 20, 30}

In [44]:
## FrozenSet
# s1 = frozenset({10,20,30,60})

In [45]:
# Basic Operations

## len()

In [47]:
st1 = {10,20,30,50}
print(st1)

{10, 20, 50, 30}

## Memvership

In [48]:
st1 = {10,20,30,50}
10 in st1

True

In [49]:
50 in st1

True

In [52]:
20 not in st1

False

In [58]:
# Union
s1 = {"orange","mango","apple"}
s2 = {"red","black","orange","while"}

union = s1| s2
print(union)

{'apple', 'while', 'mango', 'red', 'black', 'orange'}

In [65]:
union = s1.union(s2)
print(union)

{'apple', 'while', 'mango', 'red', 'black', 'orange'}

In [68]:
a = {10,20,30}
b = {1,2,30}
c = {10,11,12,15,30}
a.union(b,c)

{1, 2, 10, 11, 12, 15, 20, 30}

In [67]:
a|b|c

{1, 2, 10, 11, 12, 15, 20, 30}

## Intersect
** resulting set contains only elements that are present in all of the specified sets**

In [75]:
s1 = {"orange","mango","apple"}
s2 = {"red","black","orange","while"}
s1.intersection(s2)

{'orange'}

## difference
**s1.difference(s2) and s1 - s2 return the set of all elements that are in s1 but not in s2:**

In [78]:
s1 = {"orange","mango","apple"}
s2 = {"red","black","orange","while"}
s2.difference(s1)

{'black', 'red', 'while'}

In [80]:
s1 = {"orange","mango"}
s2 = {"orange","mango"}
s2.difference(s1)

set()

## x1.issubset(x2)

In [95]:
s1 = {1,2,3,4,5}
s2 = {5,2}
print(s1.issuperset(s2))
print(s2.issubset(s1))

True
True

In [96]:
## update

In [107]:
s1 = {1,2,3,4,5}
s2 = {50,20}
s1.update(s2)

In [108]:
s1

{1, 2, 3, 4, 5, 20, 50}

# Remove
**Removes an element from a set. Python raises an exception if <elem> is not in s1**

In [109]:
s1.remove(5)
print(s1)

{1, 2, 3, 4, 50, 20}

## discard
**Removes an element from a set.**

In [117]:
s1 = {1,2,3,4,5}
s1.discard(4)

In [119]:
print(s1)

{1, 2, 3, 5}

In [120]:
s1.discard(4)

In [121]:
print(s1)

{1, 2, 3, 5}

## pop
**Removes a random element from a set.**

In [125]:
s1 = {1,2,3,4,5}
s1.pop()

1

In [126]:
print(s1)
print(s1.pop())

{2, 3, 4, 5}
2

In [127]:
print(s1)
print(s1.pop())

{3, 4, 5}
3

In [128]:
print(s1)
print(s1.pop())

{4, 5}
4

In [129]:
print(s1)
print(s1.pop())

{5}
5

In [130]:
print(s1)
print(s1.pop())

set()

KeyError: 'pop from an empty set'

## clear()
**Clears a set.**

In [131]:
s1 = {1,2,3,4,5}
s1.clear()
print(s1)

set()