In [8]:
# Empty List
l1 = []
l2 = list()
print(l1)
print(l2)

[]
[]

In [7]:
# List of integers
l2 = [1,2,3,4,5]
print(l2)

[1, 2, 3, 4, 5]

In [5]:
# List of different data types
l3 = ["Apple",20,55.55,"Delhi"]
l3

['Apple', 20, 55.55, 'Delhi']

# Creating List from an existing List

In [9]:
l1 = [1,2,3,4,6,6,7,8,9,10]
l2 = l1[:]   # Copy list
l2

[1, 2, 3, 4, 6, 6, 7, 8, 9, 10]

In [10]:
l3 = l1[1:4]
l3

[2, 3, 4]

In [11]:
l3 = l1
l3

[1, 2, 3, 4, 6, 6, 7, 8, 9, 10]

# Accessing List element

In [18]:
str1 = "ABCDEFGH"
l1 = list(str1)
print("l1:",l1)
print("l1[0]:",l1[0])
print("l1[2]:",l1[2])
print("l1[-1]:",l1[-1])
print("l1[-3]:",l1[-3])

l1: ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
l1[0]: A
l1[2]: C
l1[-1]: H
l1[-3]: F

In [23]:
#l1[-15] # error

# Traversing List
1. Using <b>IN</b> operator in side for loop
2. using range() function

In [24]:
fruit = ["Apple","Mangio",'Banana',"Pineapple","Date"]
fruit

['Apple', 'Mangio', 'Banana', 'Pineapple', 'Date']

In [27]:
# Using in Operator
for name in fruit:
    print(name.upper())

APPLE
MANGIO
BANANA
PINEAPPLE
DATE

In [30]:
# Using range() function
for ind in range(len(fruit)):
    print(fruit[ind].lower())

apple
mangio
banana
pineapple
date

# Testing memberShip

In [47]:
m1 = ['apple','mango','date',"pineapple"]
# 'orange' in m1

# Indexing

In [59]:
list1 = list("computer")
# list1[1:4]
# list1[1:6:2]
# list1[3:]
# list1[:5]
# list1[-1]
# list1[-3:]
# list1[:-2]

['c', 'o', 'm', 'p', 'u', 't']

## Built-IN Function
**Append** : List.append() <br>
**Insert** : List.insert(index, ele)<br>
**Extend** : List.extend(list2) <br>
**Index**  : list.index(ele) <br>
**Remove** : list.remove(ele) <br>
**Sort** : List.sort() <br>
**Reverse** : list.reverse() <br>

## Append
** Append function is used to add a single item to the end of the list**

In [68]:
m1 = [10,5,6,60,20]
m1

[10, 5, 6, 60, 20]

In [69]:
m1.append(99)
m1

[10, 5, 6, 60, 20, 99]

## Insert
** The insert function can be used to insert an element at specified index**

In [70]:
m1.insert(2,"New Item")
m1

[10, 5, 'New Item', 6, 60, 20, 99]

## Extend
** The extend method adds one list to the end of the another list**

In [71]:
m1 = list("abcd")
m1

['a', 'b', 'c', 'd']

In [72]:
m2 = [1,2,3,4,5]
m2

[1, 2, 3, 4, 5]

In [73]:
m1.extend(m2)
m1

['a', 'b', 'c', 'd', 1, 2, 3, 4, 5]

## Reverse
**The reverse function in python reverse the order of the list**

In [88]:
m3 = list("abcdef")
m3

['a', 'b', 'c', 'd', 'e', 'f']

In [92]:
m3.reverse()
print(m3)

['a', 'b', 'c', 'd', 'e', 'f']

## Index
**index() function returns the index of first matched item from the list**

In [113]:
list1 = ["apple","mango","banana2","date","orange","mango","banana"]
list1.index("banana")

6

In [114]:
list1.sort()
list1

['apple', 'banana', 'banana2', 'date', 'mango', 'mango', 'orange']

In [118]:
list1.remove("mango") # error if not ele
list1

['apple', 'banana', 'banana2', 'orange']

## Clear
**Clear method removes all element from the list**

In [121]:
list1 = ["apple","mango","banana2","date","orange","mango","banana"]
list1

['apple', 'mango', 'banana2', 'date', 'orange', 'mango', 'banana']

In [123]:
list1.clear()
list1

[]

## Count()
** count() method counts how many times an element has occurred in a list and return it**

In [127]:
# count
list1 = ["apple","mango","banana2","date","orange","mango","banana"]
list1.count("mango")

2

## POP
** It removes the element from the specified index and also return the element which was removed**

In [138]:
l1 = [20,30,40,50,60,70,80,90]
l1

[20, 30, 40, 50, 60, 70, 80, 90]

In [141]:
l1.pop(2)

50

In [134]:
l1.pop(1)

50

# del statement
** dell remove the specified elemnt from the list but does not return the deleted element**

In [1]:
l1 = [20,30,40,50,60,70,80,90]
del l1[2:5]
l1

[20, 30, 70, 80, 90]