## Pandas Series

In [14]:
# !pip install pandas
# !pip install numpy

Requirement already satisfied: numpy in c:\users\lenovo\desktop\materials\python session\project_demo\venv310\lib\site-packages (1.22.4)

WARNING: You are using pip version 22.0.4; however, version 22.1.1 is available.
You should consider upgrading via the 'C:\Users\LENOVO\Desktop\Materials\Python Session\project_demo\venv310\Scripts\python.exe -m pip install --upgrade pip' command.

In [15]:
import pandas as pd
import numpy as np

In [7]:
# Default index 0 to N-1
s1 = pd.Series([10,20,30,50])

s1

0    10
1    20
2    30
3    50
dtype: int64

In [9]:
s2 = pd.Series(["apple","banana","orange"],index = ["one","tow","three"])
s2

one       apple
tow      banana
three    orange
dtype: object

In [13]:
## Creation of Series from Numpy array

In [16]:
s3 = pd.Series(np.array([10,20,30,5,6]))
s3

0    10
1    20
2    30
3     5
4     6
dtype: int32

In [24]:
s3 = pd.Series(np.ones(5))
s3

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
dtype: float64

# Creating Series from Dictionary

In [27]:
data = {"id" : 101,"name" : "Amit","city" : "Meerut","created" : "25-05-2022"}
s3= pd.Series(data)

In [28]:
s3

id                101
name             Amit
city           Meerut
created    25-05-2022
dtype: object

# Accesing Element of Series
1. indexing
2. Sc=licing
**Indexes are two types**<br>
**1.Positional Index**<br>
**2 Label index**<br>
Positional index take an integer value that corresponds to its Series starting from 0, whereas <br>
lable index takes any user_defined label as index

In [37]:
s1 = pd.Series([10,20,30,5])
s1[2]

30

In [57]:
s1 = pd.Series([27,20,30,5], index = ["one","two","three","four"])

In [43]:
s1[0]

'Banana'

In [46]:
s1["one"]

'Banana'

### More than one value can be get using using list of positional integres or a list of index label

In [50]:
s1[[1,3]]

two     20
four     5
dtype: int64

In [58]:
s1[["two","four"]]

two     20
four     5
dtype: int64

In [52]:
# Index value can be altered by assign reindex

In [59]:
s1.index = [10,20,30,40]

In [60]:
s1

10    27
20    20
30    30
40     5
dtype: int64

## Slicing

In [62]:
s1

10    27
20    20
30    30
40     5
dtype: int64

In [70]:
s1[1:3] # end positinal index excluded

two      20
three    30
dtype: int64

In [65]:
s1.index = ["one","two","three","four"]

In [67]:
s1["one":"three"]  # label slicing include end index

one      27
two      20
three    30
dtype: int64

In [75]:
s1[1:3] = 99  # assing ning new values

In [74]:
s1

one      27
two      99
three    99
four      5
dtype: int64

## Property of Series
**name**:assign a name to a serie<br>
**index.name**:assign name to the index of series<br>
**values:** :printing a list of values
**size**:printing the number  of values in series<br>
**empty**:Print True if series is empty<br>

In [76]:
s1.name = "Test Series"  # assign a name to a series
s1

one      27
two      99
three    99
four      5
Name: Test Series, dtype: int64

In [79]:
s1.index.name = "IND"  # assign name to the index of series
s1

IND
one      27
two      99
three    99
four      5
Name: Test Series, dtype: int64

In [81]:
s1.values  # printing a list of values

array([27, 99, 99,  5], dtype=int64)

In [82]:
s1.size

4

In [83]:
s1.empty

False

In [84]:
# Methods

In [87]:
s1 = pd.Series(np.arange(10,21,1))
s1

0     10
1     11
2     12
3     13
4     14
5     15
6     16
7     17
8     18
9     19
10    20
dtype: int32

In [94]:
s1.head()  # s1.head(8)

0    10
1    11
2    12
3    13
4    14
dtype: int32

In [89]:
s1.tail()

6     16
7     17
8     18
9     19
10    20
dtype: int32

In [96]:
s1.count()  # Return number of Non-nan value

11

## Mathmaticcal Operation

In [98]:
s1 = pd.Series([1,2,3,4,5], index = ['a','b','c','d','e'])
s1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [107]:
s2 = pd.Series([10,20,-10,-50,100], index = ['x','y','a','c','e'])
s2

x     10
y     20
a    -10
c    -50
e    100
dtype: int64

In [100]:
c = s1+s2

In [101]:
c

a     -9.0
b      NaN
c    -47.0
d      NaN
e    105.0
x      NaN
y      NaN
dtype: float64

In [102]:
c = s2+s1
c

a     -9.0
b      NaN
c    -47.0
d      NaN
e    105.0
x      NaN
y      NaN
dtype: float64

In [106]:
s1.add(s2,fill_value = 0)

a     -9.0
b      2.0
c    -47.0
d      4.0
e    105.0
x     10.0
y    -20.0
dtype: float64

In [108]:
##Subtraction

In [109]:
s1-s2

a    11.0
b     NaN
c    53.0
d     NaN
e   -95.0
x     NaN
y     NaN
dtype: float64

In [110]:
s1.sub(s2, fill_value = 0)

a    11.0
b     2.0
c    53.0
d     4.0
e   -95.0
x   -10.0
y   -20.0
dtype: float64

In [111]:
s1*s2

a    -10.0
b      NaN
c   -150.0
d      NaN
e    500.0
x      NaN
y      NaN
dtype: float64

In [113]:
# Divi
s1/s2

a   -0.10
b     NaN
c   -0.06
d     NaN
e    0.05
x     NaN
y     NaN
dtype: float64

In [114]:
s1.div(s2, fill_value = 0)

a   -0.10
b     inf
c   -0.06
d     inf
e    0.05
x    0.00
y    0.00
dtype: float64

In [115]:
s2.div(s1, fill_value = 0)

a   -10.000000
b     0.000000
c   -16.666667
d     0.000000
e    20.000000
x          inf
y          inf
dtype: float64