In [1]:
# !pip install pandas
# !pip install numpy

In [2]:
import pandas as pd
import numpy as np

# Create Series

In [3]:
s1 = pd.Series([10,20,30,50,40,10])
s1

0    10
1    20
2    30
3    50
4    40
5    10
dtype: int64

In [4]:
s1 = pd.Series(['apple','mango','orange','banana'], index = ['a','b','c','d'])
# error Length of values (4) does not match length of index (5)
# s1 = pd.Series(['apple','mango','orange','banana'], index = ['a','b','c','d','e']) 
s1

a     apple
b     mango
c    orange
d    banana
dtype: object

In [5]:
## Creation of Series from Numpy array
s3 = pd.Series(np.array([10,20,30,5,6]))
s1 = pd.Series(np.arange(1,12))
s1 = pd.Series(np.ones(5))
s1 = pd.Series(np.zeros(5))
s1 = pd.Series(np.ones(5) * 2)
s1

0    2.0
1    2.0
2    2.0
3    2.0
4    2.0
dtype: float64

# Creating Series from Dictionary

In [6]:
# id as a key and values as series value
data = {"id" : 101,"name" : "Amit","city" : "Meerut","created" : "25-05-2022"}
s3= pd.Series(data)
s3

id                101
name             Amit
city           Meerut
created    25-05-2022
dtype: object

In [7]:
# Creating Series from list of tuples

In [8]:
t = [('a',5),('b',10),('c',15),('d',20)]
index_val, values = zip(*t)
s3= pd.Series(data = values,index = index_val)
s3

a     5
b    10
c    15
d    20
dtype: int64

In [9]:
x,y = zip(*t)
y

(5, 10, 15, 20)

# Accesing Element of Series
1. indexing
2. Slicing
**Indexes are two types**<br>
**1.Positional Index**<br>
**2 Label index**<br>
Positional index take an integer value that corresponds to its Series starting from 0, whereas <br>
lable index takes any user_defined label as index

In [10]:
s1 = pd.Series([10,20,30,5])
# Accessing as a label
# s1[0]
# s1[2]
# s1[-1]  # error

In [11]:
s1 = pd.Series([27,20,30,5], index = ["one","two","three","four"])
s1

one      27
two      20
three    30
four      5
dtype: int64

In [12]:
s1['two']
# s1[-1]  # accessing as a positinla index

20

### More than one value can be get using using list of positional integres or a list of index label

In [13]:
# s1[[1,3]]
s1[["two","four"]]

two     20
four     5
dtype: int64

In [14]:
s1.index

Index(['one', 'two', 'three', 'four'], dtype='object')

In [15]:
# s1[-1]

## Slicing

In [16]:
s1 = pd.Series(np.arange(1,13))
s1

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
dtype: int32

In [17]:
s1[1:5] # end positinal index excluded

1    2
2    3
3    4
4    5
dtype: int32

In [18]:
# s1 = pd.Series([27,20,30,5], index = ["one","two","three","four"])
# s1['two' :'four' ]

## Property of Series
**name**:assign a name to a serie<br>
**index.name**:assign name to the index of series<br>
**values:** :printing a list of values
**size**:printing the number  of values in series<br>
**empty**:Print True if series is empty<br>

In [19]:
s1 = pd.Series([27,20,30,5], index = ["one","two","three","four"])
print(s1.name)

None

In [20]:
s1.name = "Test Series"  # assign a name to a series
print(s1.name)

Test Series

In [21]:
s1.index.name = "IND"  # assign name to the index of series
print(s1.index.name)

IND

In [22]:
s1

IND
one      27
two      20
three    30
four      5
Name: Test Series, dtype: int64

In [23]:
s1.values  # printing a list of values

array([27, 20, 30,  5], dtype=int64)

In [24]:
s1.size

4

In [25]:
s2 = pd.Series()
s1.empty

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_6496\295043456.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s2 = pd.Series()

False

# Methods

In [26]:
s1 = pd.Series(np.arange(10,21,1))
s1.head(6)

0    10
1    11
2    12
3    13
4    14
5    15
dtype: int32

In [27]:
s1.tail(2)

9     19
10    20
dtype: int32

In [28]:
s1.count()  # Return number of Non-nan value

11

## Mathmaticcal Operation
Mathmaticcal Operation
While performing mathematical operations on series, index matching is implemented and all missing values are filled in with NaN by default

### Addition of two SerieIt can be done in two ways. In the first method, two 
series are simply added together, as shown in the 
following code.
It can be done in two ways. In the first method, two 
series are simply added together, as shown in the 
following code. Table 2.2 shows the detailed values that 
were matched while performing the addition. Note here 
that the output of addition is NaN if one of the elements 
or both elements have no value.

In [29]:
s1 = pd.Series([1,2,3,4,5], index = ['a','b','c','d','e'])
s1.head()

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [30]:
# Change data types
# s1 = s1.astype('float16')  # data frame : df = df.astype({"a": int, "b": complex})
#

In [31]:
s2 = pd.Series([10,20,-10,-50,100], index = ['x','y','a','c','e'])
s2

x     10
y     20
a    -10
c    -50
e    100
dtype: int64

In [32]:
s3 = s1 +s2
s3

a     -9.0
b      NaN
c    -47.0
d      NaN
e    105.0
x      NaN
y      NaN
dtype: float64

In [35]:
s1.add(s2,fill_value = 0)

a     -9.0
b      2.0
c    -47.0
d      4.0
e    105.0
x     10.0
y     20.0
dtype: float64

In [40]:
s1*s2

a    -10.0
b      NaN
c   -150.0
d      NaN
e    500.0
x      NaN
y      NaN
dtype: float64

In [43]:
s1.mul(s2, fill_value = 1)
# s1.sub(s2, fill_value = 0)
# s1.div(s2, fill_value = 0)

a    -10.0
b      2.0
c   -150.0
d      4.0
e    500.0
x     10.0
y     20.0
dtype: float64